{% extends "AppBundle::layoutempty.html.twig" %}

{% block title %}AppBundle:Security:login{% endblock %}

{% block body %}
<h1>Espace parent - Noethys Web</h1>
{% endblock %}

{% block content %}

<div>
    {{ form(form) }}
</div>


{% endblock %}
