{% extends "AppBundle::layout.html.twig" %}

{% block title %}Gestion de stock{% endblock %}

{% block content %}
    <div>
        <h1 class="page-header">Bienvenue </h1>


    </div>
{% endblock %}
